.container {
  .address-form {
    width: 50%;
    float: left;
    .title {
      text-align: center;
    }
    .form-list {
      padding: 20px 12px 10px 20px;
      li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
      }
      label {
        margin: 0 0 3px 0;
        padding: 0px;
        display: block;
        font-weight: bold;
      }
      input[type=text] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #BEBEBE;
        width: 100%;
        padding: 7px;
        margin: 0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        &:focus {
          -moz-box-shadow: 0 0 8px #88D5E9;
          -webkit-box-shadow: 0 0 8px #88D5E9;
          box-shadow: 0 0 8px #88D5E9;
          border: 1px solid #88D5E9;
        }
      }
      input[type=submit],
      input[type=button] {
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
        &.cancel {
          margin-left: 10px;
        }
      }
      input[type=submit]:hover,
      input[type=button]:hover {
        background: #4691A4;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }
      .required {
        color: red;
      }
    }
  }
  .map-section {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .address-form{
      width: 100%;
    }
    .map-section{
      width: 100%;
    }
  }
}